@font-face {
  font-family: PangMenZhengDao;
  src: url("~_a/font/庞门正道标题体2.0增强版.ttf");
}
@font-face {
  font-family: DINPro;
  src: url("~_a/font/DINNextLTPro-Medium.ttf");
}
/* 文字颜色 */
/* 主要颜色 */
/* 辅助颜色 */
